<!DOCTYPE HTML>
<!-- Modal Structure -->
<div id="descriptionModal" class="modal">
  <div class="modal-content">
    <h4 class="modalTitle modalTop">Edit Description</h4>
    <button href="#!" class="modalTop Topmodal-action modal-close waves-effect waves-light btn-flat" style="float: right"><i class="material-icons">close</i></button>

    <div class="row modalText">
      <form id="loginmodalform" class="col s12" method="post" action="/editDescription">
        <div class="row modal-form-row">
          <div class="input-field col s6">
            <input value = "{{restaurantDescription}}" id="restaurantDescription" type="text" class="validate" required="" aria-required="true" name="restaurantDescription">
            <label class="active" for="restaurantDescription">Description</label>
          </div>
        </div>
        <button href="#!" type="submit" class="modal-action deep-orange lighten-3 waves-effect waves-light btn-flat" style="float: right; color: white">Submit</button>
      </form>
    </div>
  </div>
</div>