<!DOCTYPE HTML>
<!-- Modal Structure -->
<div id="directions" class="modal">
  <div class="modal-content">
    <h4 class="modalTitle modalTop black-text">Directions</h4>
    <button href="#!" class="modalTop Topmodal-action modal-close waves-effect waves-light btn-flat" style="float: right"><i class="material-icons">close</i></button>
    <div id="directions-map"></div>
  </div>
</div>