<!DOCTYPE html>
<footer class="page-footer white">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <a class="black-text" href="/about" id="abouttext">About Us</a>
        <!-- <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p> -->
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="black-text" id="contactus">Contact Us</h5>
        <ul>
          <li><a class="black-text text-lighten-3 footerLink" href="mailto:akuang@mit.edu">Andy Kuang</a></li>
          <li><a class="black-text text-lighten-3 footerLink" href="mailto:rhealin@mit.edu">Rhea Lin</a></li>
          <li><a class="black-text text-lighten-3 footerLink" href="mailto:mccleary@mit.edu">Jennifer McCleary</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright white">
    <div class="container black-text white">
      © 2017 Andy Kuang, Rhea Lin, Jennifer McCleary
    </div>
  </div>
</footer>