<nav class="deep-orange lighten-3">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo margin-set">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      {{#if isLoggedIn }}
        <li><a href="/updatewaittime">Update Wait Time</a></li>
        <li><a href="/logout">Log Out</a></li>
      {{else}}
        <li>
          <!-- Modal Trigger -->
          <a class="waves-effect waves-light" href="#loginModal">Restaurant Log In</a>
        </li>
        <li><!-- Modal Trigger -->
          <a class="waves-effect waves-light" href="#signupModal">Restaurant Sign Up</a>  
        </li>
      {{/if}}
    </ul>
  </div>
</nav>

