<!DOCTYPE HTML>
<!-- Modal Structure -->
<div id="pictureModal" class="modal">
  <div class="modal-content">
    <h4 class="modalTitle modalTop black-text">Update Profile Picture</h4>
    <button href="#!" class="modalTop Topmodal-action modal-close waves-effect waves-light btn-flat" style="float: right"><i class="material-icons">close</i></button>

    <div class="row modalText">
      <form>
        <div class="file-field input-field">
          <div class="btn white black-text">
            <span>File</span>
            <input type="file" name="avatar" id="file-input">
          </div>
          <div class="file-path-wrapper">
            <input id= "file-text" class="file-path validate" type="text" required="" aria-required="true">
            <label for="file-name" data-error="Please upload a valid .jpg or .png file."></label>
          </div>
        </div>
        <div class="pictureprogress">
          <div class="indeterminate"></div>
        </div>
        <button href="#!" class="white black-text waves-effect waves-light btn-large button update-picture" type="submit">Update Profile Picture</button>
      </form>  
    </div>
  </div>
</div>