<!DOCTYPE HTML>
<!-- Modal Structure -->
<div id="searchModal" class="modal">
  <div class="modal-content">
    <h4 class="modalTitle modalTop black-text">Search For A Restaurant </h4>
    <button href="#!" class="modalTop Topmodal-action modal-close waves-effect waves-light btn-flat" style="float: right"><i class="material-icons">close</i></button>

    <div class="row searchmodalText">
    	<form id="searchBar" method="post" action="/search" autocomplete="off">
  			<div class="input-field searchInput">
  				<input id="autocomplete-input" class="search-input autocomplete" type="text" name="searchInput" autocomplete="off">
          <label for="autocomplete-input"></label>
  			</div>
  			<button href="#!" type="submit" class="modal-action black white-text waves-effect waves-light btn-flat modalPseudoFooter search black-text" style="float: right">Search</button>
		</form>
    </div>
  </div>
</div>