<!DOCTYPE HTML>
<!-- Modal Structure -->
<div id="searchModal" class="modal">
  <div class="modal-content">
    <h4 class="modalTitle modalTop">Search For A Restaurant</h4>
    <button href="#!" class="modalTop Topmodal-action modal-close waves-effect waves-light btn-flat" style="float: right"><i class="material-icons">close</i></button>

    <div class="row modalText">
    	<form>
			<div class="input-field">
				<input id="searchInput" type="text" name="searchInput">
            	<label for="searchInput"></label>
			</div>

			<button href="#!" type="submit" class="modal-action deep-orange lighten-3 waves-effect waves-light btn-flat modalPseudoFooter" style="float: right; color: white">Search</button>
		</form>
    </div>
  </div>
</div>