<!DOCTYPE html>
<!-- Modal Structure -->
<div id="signupModal" class="modal">
  <div class="modal-content">
    <div class="row">
      <h4 class="modalTitle modalTop col s10 l11 black-text">&nbsp;Restaurant Sign Up</h4>
      <button href="#!" class="modalTop Topmodal-action modal-close waves-effect waves-light btn-flat col s2 l1" style="float: right"><i class="material-icons">close</i></button>
    </div>
    <div class="row modalText">
      <form id="signup-modal" class="col s12" method="post" action="/adduser">
        <div class="row modal-form-row">
          <div class="input-field col s12">
            <input id="signup_restaurant_name" type="text" class="validate" required="" aria-required="true" name="restaurantName">
            <label for="signup_restaurant_name">Restaurant Name</label>
          </div>
        </div>
        <div class="row modal-form-row">
          <div class="input-field col s12">
            <input id="signup_email_address" type="email" class="validate" required="" aria-required="true" name="username">
            <label for="signup_email_address" data-error="Please enter a valid email address.">Email Address</label>
          </div>
        </div>
        <div class="row modal-form-row">
          <div class="input-field col s12">
            <input id="signup-password" type="password" class="validate" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" aria-required="true" name="password">
            <label for="signup_password" data-error="Password must contain at least 6 characters, including a number, an uppercase letter, and a lowercase letter.">Password</label>
          </div>
        </div>
        <div class="row modal-form-row">
          <div class="input-field col s12">
            <input id="confirm-password" type="password" class="validate" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" aria-required="true" name="confirm_password">
            <label for="confirm_password" data-error="Passwords must match.">Confirm Password</label>
          </div>
        </div>
        <div class="row">   
          <a href="#loginModal" type="submit" class="modal-action modal-close waves-effect waves-light btn-flat modalPseudoFooter col s12 m5 offset-m4 l4 offset-l6 center-align">Returning User? Log In!</a> 
          <button href="#!" type="submit" class="modal-action black waves-effect waves-light btn-flat modalPseudoFooter signup_submit col s12 m3 l2 center-align" style="color: white">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</div>