<!-- Modal Structure -->
<div id="signupModal" class="modal">
  <div class="modal-content">
    <h4 class="modalTitle">Restaurant Sign Up</h4>

    <div class="row modalText">
      <form class="col s12" method="post" action="/adduser">
        <div class="row modal-form-row">
          <div class="input-field col s12">
            <input id="restaurant_name" type="text" class="validate" required="" aria-required="true" name="restaurantName">
            <label for="restaurant_name">Restaurant Name</label>
          </div>
        </div>
        <div class="row modal-form-row">
          <div class="input-field col s12">
            <input id="email_address" type="email" class="validate" required="" aria-required="true" name="username">
            <label for="email_address" data-error="Please enter a valid email address.">Email Address</label>
          </div>
        </div>
        <div class="row modal-form-row">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate" required="" aria-required="true" name="password">
            <label for="password">Password</label>
          </div>
        </div>
        <!-- <div class="row modal-form-row">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate" name="confirmPassword">
            <label for="password">Confirm Password</label>
          </div>
        </div> -->
        <button href="#!" type="submit" class="modal-action deep-orange lighten-3 waves-effect waves-light btn-flat modalPseudoFooter modalsubmit" style="float: right; color: white">Sign Up</button>    
      </form>
    </div>
  </div>
</div>