<!-- Modal Structure -->
<div id="signupModal" class="modal">
  <div class="modal-content">
    <h4 class="modalTitle modalTop">Restaurant Sign Up</h4>
    <button href="#!" class="modalTop Topmodal-action modal-close waves-effect waves-light btn-flat" style="float: right"><i class="material-icons">close</i></button>

    <div class="row modalText">
      <form class="col s12" method="post" action="/adduser">
        <div class="row modal-form-row">
          <div class="input-field col s12">
            <input id="signup_restaurant_name" type="text" class="validate" required="" aria-required="true" name="restaurantName">
            <label for="signup_restaurant_name">Restaurant Name</label>
          </div>
        </div>
        <div class="row modal-form-row">
          <div class="input-field col s12">
            <input id="signup_email_address" type="email" class="validate" required="" aria-required="true" name="username">
            <label for="signup_email_address" data-error="Please enter a valid email address.">Email Address</label>
          </div>
        </div>
        <div class="row modal-form-row">
          <div class="input-field col s12">
            <input id="signup_password" type="password" class="validate" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" aria-required="true" name="password">
            <label for="signup_password" data-error="Password must contain at least 6 characters, including a number, an uppercase letter, and a lowercase letter.">Password</label>
          </div>
        </div>
        <!-- <div class="row modal-form-row">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate" name="confirmPassword">
            <label for="password">Confirm Password</label>
          </div>
        </div> -->
        <button href="#!" type="submit" class="modal-action deep-orange lighten-3 waves-effect waves-light btn-flat modalPseudoFooter signup_submit" style="float: right; color: white">Sign Up</button>   
        <a href="#loginModal" type="submit" class="modal-action modal-close waves-effect waves-light btn-flat modalPseudoFooter" style="float: right">Returning User? Log In!</a> 
      </form>
    </div>
  </div>
</div>