<!DOCTYPE html>
<html class="update-wait-time-page">
<head>

  <title>About</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:light|Bree+Serif" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>

<body>

  {{>navbar}}

  <div class="about-content">
    <div class="row">
      <div class="col s12 m12 l8 offset-l2">
        <div class="card about-card">
          <div class="card-content">
            <div>
              <img class="about-logo" src="../images/hot-tea-logo.svg">
              <h3 class="about-title">About Hot Tea</h3>
              <div class="row">
                <p class="left-align col l10 offset-l1" style="display: block;">Hot Tea provides customers with live restaurant wait times. With a click of a button, restaurants can easily provide information that customers can conveniently view when deciding where to eat.</p>
              </div>
              <p class="grey-text">Hot Tea was created by Jennifer, Rhea, and Andy for the 2017 MIT 6.148 Web Programming Competition.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m12 l8 offset-l2">
        <div class="card about-card">
          <div class="card-content">
            <div>
              <h3>How to Hot Tea</h3>
                <div class="row">
                  <div class="col s12 m6">
                    <div class="icon-block">
                      <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                      <h5 class="center"><b>For Guests</b></h5>
                      <ul>
                        <li><p class="left-align"><b style="font-size:20px;">Directory</b>: View hundreds of restaurants sorted by wait time and click to view their profiles.</p></li>
                        <br>
                        <li><p class="left-align"><b style="font-size:20px;">Search</b>: Search for a specific restaurant and view its profile.</p></li>
                        <br>
                        <li><p class="left-align"><b style="font-size:20px;">Restaurant Profiles</b>: Find live wait times, estimated wait time visualization, restaurant address, and travel directions.</p></li>
                      </ul>
                    </div>
                  </div>

                  <div class="col s12 m6">
                    <div class="icon-block">
                      <h2 class="center brown-text"><i class="material-icons">store</i></h2>
                      <h5 class="center"><b>For Restaurants</b></h5>
                      <ul>
                        <li><p class="left-align"><b style="font-size:20px;">Update Wait Time</b>: Create an account and provide your guests with live wait time data with a click of a button.</p>
                        </li>
                        <br>
                        <li><p class="left-align"><b style="font-size:20px;">Your Profile</b>: Display live wait times, estimated wait time visualization, restaurant address, and travel directions to inform and attract customers.</p>
                        </li>
                      </ul> 
                    </div>
                  </div>
                </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m12 l8 offset-l2">
        <div class="card about-card team-card">
          <div class="card-content">
            <div>
              <div>
                <div class="row">
                  <h3 class="center-align">The Team</h3>
                </div>
                <div class="row">
                  <img src="/images/andy.jpg" class="col s12 m4 l4 circle">
                  <img src="/images/jenn.jpg" class="col s12 m4 l4 circle">
                  <img src="/images/rhea.jpg" class="col s12 m4 l4 circle">
                </div>
                <div class="row">
                  <p class="col s12 m4 l4 center-align" style="font-size:20px;"><a class="nyan" href="http://www.fallingfalling.com">Andy Kuang</a></p>
                  <p class="col s12 m4 l4 center-align" style="font-size:20px;"><a class="nyan" href="http://www.drawastickman.com">Jennifer McCleary</a></p>
                  <p class="col s12 m4 l4 center-align" style="font-size:20px;"><a class="nyan" href="http://www.staggeringbeauty.com/">Rhea Lin</a></p>
                </div>
                <div class="row" style="font-size:20px; margin-top:2em">
                  <p class="center-align grey-text">Q: Why is your team name "Hot Tea"?</p>
                  <p class="center-align grey-text">A: Say it slowly a few times and you'll understand why!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{>searchModal}}
  {{>signupModal}}
  {{>loginModal}}
  {{>footer}}
  
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/myscript.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

</html>