<!DOCTYPE html>
<html>
<head>
  <title>Title</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  {{>navbar}}
<div class="topcontent abouttop">
  <h5>About Webapp</h5>
  <p>Here is a description of what the app does.</p>
  <p>Here are some basic instructions on how to use the app.</p>
  <h5>The Team</h5>
  <img src="/images/andy.jpg" class="col s12 m4 l4">
  <img src="/images/rhea.jpg" class="col s12 m4 l4">
  <img src="/images/jenn.jpg" class="col s12 m4 l4">
  <h5>Frequently Asked Questions</h5>
  <p>Q: Why is your team name "Hot Tea"?</p>
  <p>A: Say it a few times and you will understand why!</p>
</div>
{{>signupModal}}
{{>loginModal}}
{{>footer}}
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/myscript.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</html>
