<!DOCTYPE html>
<html>
<head>
  <title>Title</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
{{>navbar}}
<div class="parallax-container">
  <div class="topcontent index">
    <div class="parallax toppic"><img src="../images/restaurant.jpg">
      <nav id="searchbar" class="deep-orange lighten-3">
        <div class="nav-wrapper">
          <form id="searchform">
            <div class="input-field">
              <input id="search" type="search" required>
              <label for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </div>
      </nav>
      <a class="deep-orange lighten-3 waves-effect waves-light btn-large button" href="/searchresults">Search!</a>
      <a class="deep-orange lighten-3 waves-effect waves-light btn-large button" href="/directory">View Restaurants by Wait Time</a>
      <p class="toptext"> Check restaurant wait times so that you can dine on your schedule. </p>
    </div>
  </div>
</div>

<div id="bottom" class="section white restaurantcard">
  <div class="row container">
    <h5 class="margin-set cardsTitle">Restaurants by Wait Time</h5>

    <div class="card firstcard">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="/images/restaurant.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Restaurant Name<i class="material-icons right">more_vert</i></span>
        <p>Wait Time: </p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Restaurant Name<i class="material-icons right">close</i></span>
        <p>Wait Time: </p>
        <p>Restaurant Description</p>
      </div>
    </div>

    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="/images/restaurant.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Restaurant Name<i class="material-icons right">more_vert</i></span>
        <p>Wait Time: </p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Restaurant Name<i class="material-icons right">close</i></span>
        <p>Wait Time: </p>
        <p>Restaurant Description</p>
      </div>
    </div>

    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="/images/restaurant.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Restaurant Name<i class="material-icons right">more_vert</i></span>
        <p>Wait Time: </p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Restaurant Name<i class="material-icons right">close</i></span>
        <p>Wait Time: </p>
        <p>Restaurant Description</p>
      </div>
    </div>

  </div>
</div>

<div class="parallax-container">
  <div class="parallax"><img src="../images/restaurant2.jpg" class="botimage"></div>
</div>

{{>loginModal}}
{{>signupModal}}

{{>footer}}

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="../javascripts/myscript.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</html>
