<!DOCTYPE html>
<html>
<head>
  <title>Title</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  {{>navbar}}
<!-- <div class="topcontent">
  <p>{{name}}</p>
</div>
<div class="content">
    <p class = "display-wait-time">{{waitTime}}</p>
</div> -->
<div class="topcontent">
  <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="/images/restaurantcard.jpg">
              <span class="card-title">{{name}}</span>
            </div>
            <div class="card-content">
              <p>Current Wait Time: {{waitTime}} minutes</p>
            </div>
            <!-- <div class="card-action">
              <a href="#">This is a link</a>
            </div> -->
          </div>
        </div>
      </div>
</div>
<div id="bottom">
</div>
{{>signupModal}}
{{>loginModal}}
{{>footer}}
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/myscript.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</html>
