<!DOCTYPE html>
<html>
<head>
  <title>Title</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  {{>navbar}}
<div class="topcontent">
    <div class="row">
    <form class="col s12" method="post" action="/adduser">
      <div class="row">
        <div class="input-field col s6">
          <input id="signup_restaurant_name" type="text" class="validate" required="" aria-required="true" name="username">
          <label for="signup_restaurant_name">Restaurant Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="password" type="password" class="validate" required="" aria-required="true" name="password">
          <label for="password">Password</label>
        </div>
      </div>
      <button type="submit">Sign Up!</button>
    </form>
    <!-- <a class="deep-orange lighten-3 waves-effect waves-light btn" id="enter" href="/restaurantprofile">Sign Up!</a> -->
    <!-- <a class="deep-orange lighten-3 waves-effect waves-light btn" id="alreadyuser" href="/loginform">Already a User? Log In!</a> -->
    <!-- Modal Trigger -->
  </div>
</div>
{{>signupModal}}
{{>loginModal}}
{{>footer}}
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/myscript.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</html>
