html {
	font-family: 'Lato', sans-serif;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

nav ul li a {
	color: black;
}

nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

hr {
	border-color: rgba(248, 249, 249, 0.4);
	border-width: 1px;
}

.nav-button {
    height: 24px;
    line-height: 24px;
    padding: 0 0.5rem;
}

.button-collapse {
  color: #26a69a;
}

.topcontent {
	background-size: cover;
	flex: 1 0 auto;
	margin-bottom: 15px;
}

.parallax-container {
	min-height: 400px;
	line-height: 0;
 	height: auto;
 	color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
	width: 100%;
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

.modal {
	max-height: 90%;
}

.modalTop {
	display: inline;
}

.modal-form-row {
	margin-bottom: 0px;
}

.modalTitle {
	color: #ffab91;
}

.modalTop {
	margin-bottom: 15px;
}

.modal-text {
	color: grey;
}

#enter {
	margin-bottom: 15px;
	margin-left: 25px;
}

.formHeader {
	display: inline-block;
}

.formTitle {
	color: #ffab91;
}

.formText {
	color: black;
}

.input-field {
	color: black;
}

/* restaurant name label focus color */
.input-field input[type=text]:focus + label {
	color: #000;
}

/* email label focus color */
.input-field input[type=email]:focus + label {
	color: #000;
}

/* password label focus color */
.input-field input[type=password]:focus + label {
	color: #000;
}

/* restaurant name label underline focus color */
.input-field input[type=text]:focus {
 	border-bottom: 1px solid #000;
	box-shadow: 0 1px 0 0 #000;
}

/* email label underline focus color */
.input-field input[type=email]:focus {
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 0 0 #000;
}

/* password label underline focus color */
.input-field input[type=password]:focus {
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 0 0 #000;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}


/* footer */ 

footer.page-footer {
	margin: 0;
	padding-top: 2em;
}

.footer-line{
	padding-top: 80px;
}

/* end footer */


/* home */

.hot-tea {
	font-family: 'Bree Serif', serif;
	font-size: 800%;
}

.hot-tea-logo {
	margin-left: 15px;
	margin-top: 7px;
	margin-bottom: 3px;
	width: 35px;
	height: 35px;
	/*width: 3%;
	height: 3%;*/
}

.text-logo {
	font-family: 'Bree Serif', serif;
	font-size: 150% !important;
	margin-left: 2.5em;
}

#index-banner {
	height: 575px;
}

/* end home */


/* profile */ 

.profile-page {
	background-image: url('../images/pasta.jpg');
}

.profile-content {
	text-align: center;
}

.pro-pic {
	width: auto;
	height: auto;
	max-width: 25%;
	max-height: 25%;
}

.profile-card {
	margin-top: 2em;
}

.profile-button {
	margin-top: 3em;
	margin-bottom: 0.5em;
	width: 315px;
	font-size: 0.8em;
}

.edit-desc-button {
	width: 315px;
	font-size: 0.8em;
}

.active-page {
	background-color: #b0d520 !important;
}

.bar-graph{
	/*margin:auto;*/
	margin:auto;
	width:70%;
	height:100%;
}

.directions-input {
	margin: 1em;
}

/* end profile */


/* directory */

/*.directory-top {
	background-image: url("../images/naturebanner.jpg");
	color: white;
	padding-top: 5em;
	padding-bottom: 5em;
}*/

.directoryRestaurants table {
	margin: auto;
	max-width: 70%;
}

.directoryRestaurants img {
	height: 120px;
}

/* end directory */


/* update wait time */

.update-wait-time-page {
	background-image: url('../images/pasta.jpg');
}

.waitTimeRestaurant {
	margin-top: 0px;
	margin-bottom: 50px;
}

.timeSinceUpdate {
	padding-top: 10px;
	padding-bottom: 10px;
}

.waitTimeContent {
	text-align: center;
}

.restaurant-card {
	margin-top: 2.5em;
}

.updateWaitTitle {
	margin-bottom: 1em;
}

.time-select {
	margin-bottom: 2em;
}

.time-line {
	margin-top: 3em;
	margin-bottom: 3em;
	width: 75%;
}

.wait-time {
	margin-bottom: 5px;
	width: 150px;
	font-size: 0.75em;
}

.manualset {
	width: 200px;
	font-size: 1em;
}

.enterWait {
	margin-top: 15px; 
}

/* end update wait time */


/* about */

.about-logo {
	width: 15%;
	height: 15%;
}

.about-title {
	margin-top: 0px;
	margin-bottom: 50px;
}

.about-content {
	text-align: center;
}

.about-card {
	margin-top: 2.5em;
	margin-bottom: -1em;
	padding-bottom: 1em;
}

.team-card {
	margin-bottom: 1.5em;
}

a.nyan {
	color: inherit;
}

/* end about */


/* randos */

#email{
	color:white;
	margin-right:50px;
}

.cardsTitle {
	color: #ffab91;
	font-family: sans-serif;
	font-size: 35px;
}

#bottom {
	margin-bottom: 15px;
}

.toppic{
	z-index: 1;
}

#alreadyuser {
	margin-bottom: 15px;
	margin-left: 20px;
}

.signuploginmodal{
	margin-bottom: 15px;
	margin-left: 30px;
}
#updateenter {
	margin-bottom:200px;
	margin-left:25px;
}

.cardsTitle{
	margin-left:-175px;
}

.firstcard {
	margin-left:-175px;
	/*display:inline;*/
}

.no-result img{
	position:absolute;
}

.no-result h4 {
	z-index:100;
	color:white;
}

.loginformbuttons{
	display:block;
	padding-bottom:10px;
}

.loginform {
	margin:auto;
}
.signupformbutton button {
	display:block;
	margin:auto;
}

#returning {
	margin-top: 10px;
}

#pagination-short li {
	display: inline-block;
	border-radius: 2px;
	text-align: center;
	vertical-align: top;
	/*padding-left: 2em;*/
	padding-top: 4px;
	width: 30px;
	height: 30px;
}

#page-display {
	margin: auto;
}

#search-landing{
	border-bottom: 0px !important;
}

#map {
	height: 25em;
    width: 25em;
}

#directions-map {
	height: 25em;
    width: 25em;
}

.register-buttons {
	display: block;
}