/*html { 
  background: url(restaurant.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/
/*Sticky Footer*/

/*@import url('https://fonts.googleapis.com/css?family=Roboto');*/

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
.index{
	background-image: url('../images/restaurant.jpg');
}
.topcontent {
	/*background-image: url('restaurant.jpg');*/
	background-size: cover;
	flex: 1 0 auto;
	margin-bottom: 15px;

}

/*Search bar resize and movement*/
#searchbar{
	z-index:0;
	position:relative;
	/*margin-top: 200px;
	margin-left:250px;
	width: 500px;
	display:inline-block;
	margin-right: 15px;*/
}

.toptext {
	color:white;
	text-align:center;
	font-size: 24px;
}
.button {
	background-color:#e57373;
	color: white;
	/*	height:60px;*/
}
#abouttext {
	font-size:24px;
}
.pictureCard{
	/*width: 350px;
	display:inline-block;*/
	/*margin-right: 15px;*/
}
.descriptionCard{
	width: 700px;
	display:inline-block;
}

#email{
	color:white;
	margin-right:50px;
}

.cardsTitle {
	color: #ffab91;
	font-family: sans-serif;
	font-size: 35px;
	/*font-weight: 10px;*/
}

#bottom {
	margin-bottom: 15px;
}
.toppic{
	z-index:1;
}

.updatebutton {
	margin-bottom: 5px;
}

.selecttime {
	margin-bottom: 15px;
}
#enter {
	margin-bottom:15px;
	margin-left:25px;
}

.formHeader {
	display: inline-block;
}

.formTitle {
	color: #ffab91;
}

.formText {
	color: black;
}

.input-field {
	color: black;
}

/* restaurant name label focus color */
.input-field input[type=text]:focus + label {
	color: #000;
}

/* email label focus color */
.input-field input[type=email]:focus + label {
	color: #000;
}

/* password label focus color */
.input-field input[type=password]:focus + label {
	color: #000;
}

/* restaurant name label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}

/* email label underline focus color */
.input-field input[type=email]:focus {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}

/* password label underline focus color */
.input-field input[type=password]:focus {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}

#alreadyuser {
	margin-bottom: 15px;
	margin-left: 20px;
}

.signuploginmodal{
	margin-bottom: 15px;
	margin-left: 30px;
}
#updateenter {
	margin-bottom:200px;
	margin-left:25px;
}

/*About Page*/
.abouttop h5 {
	text-align:center;
}
.abouttop p {
	font-size: 20px;
}

.displayWaitTime {
	background-image: url('../images/naturebanner.jpg');
	color: white;
}

.waitTimeContent {
	text-align: center;
}

.updateWaitTitle {
	margin-top: 1em;
}

.enterWait {
	margin-top: 15px; 
}

.directoryRestaurants {
	display: inline;
}

.modal {
	max-height: 90%;
}

.modalTop {
	display: inline;
}

.modal-form-row {
	margin-bottom: 0px;
}

.modalTitle {
	color: #ffab91;
}

.modalTop {
	margin-bottom: 15px;
}

.modal-text {
	color: grey;
}

.cardsTitle{
	margin-left:-175px;
}
.firstcard {
	margin-left:-175px;
	/*display:inline;*/
}

.directoryRestaurants img {
	height: 120px;
}

/*.restaurantcard{
	display:inline;
}
*/

.waitTimeRestaurant {
	margin-top: 0px;
	padding-top: 30px;
	margin-bottom: 50px;
}

.timeSinceUpdate {
	padding-top: 10px;
	padding-bottom: 30px;
}

footer.page-footer {
	margin-top: 0px;
}

/*the below for editing form validation*/

/* label focus color */
/*.input-field input[type=text]:focus + label {
	color: #000;
}*/
/* label underline focus color */
./*input-field input[type=text]:focus {
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 0 0 #000;
}*/