/*html { 
  background: url(restaurant.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/
/*Sticky Footer*/

/*@import url('https://fonts.googleapis.com/css?family=Roboto');*/
/*
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}*/

body {
  margin: 0;
  padding: 0;
}

.navigation {
  width: 100%;
  position: fixed;
  height: 55px;
  z-index: 2;  
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.navigation #heading {
  text-decoration: none;
  display: inline-block;
  font: 22px 'Pacifico';
  margin-top: 4px;
  margin-left: 30px;
  color: #555;
}

.navigation #heading:hover {
  color: black;
}

@import url(http://fonts.googleapis.com/css?family=Vollkorn|Roboto);
.button_container {
  position: fixed;
  width: 20px;
  height: 25px;
  z-index: 1000;
  right: 20px;
  top: 20px;
  cursor: pointer;
  -webkit-transition: opacity .25s;
  transition: opacity .25s;
}

.button_container span {
  position: absolute;
  height: 2px;
  width: 100%;
  background: #555;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
}

.middle {
  top: 6px;
}

.bottom {
  top: 12px;
}

.button_container.active .top {
  -webkit-transform: translateY(6px) translateX(0) rotate(45deg);
  transform: translateY(6px) translateX(0) rotate(45deg);
  background: white;
}

.button_container.active .middle {
  opacity: 0;
}

.button_container.active .bottom {
  -webkit-transform: translateY(-6px) translateX(0) rotate(-45deg);
  transform: translateY(-6px) translateX(0) rotate(-45deg);
  background: white;
}

.overlay {
  position: fixed;
  background: #222;
  visibility: hidden;
  width: 100%;
  height: 0%;
  left: 0px;
  z-index: 998;
  top: 0px;
  opacity: 0;
  overflow-y: visible;
  overflow-x: hidden;
  -webkit-transition: opacity .35s, height .35s, visibility .35s;
  transition: opacity .35s, height .35s, visibility .35s;
}

.overlay.open {
  position: fixed;
  height: 100vh;
  opacity: .95;
  visibility: visible;
}

.overlay.open li {
  -webkit-animation: fadeInTop .5s ease forwards;
  animation: fadeInTop .5s ease forwards;
  -webkit-animation-delay: .35s;
  animation-delay: .35s;
}

.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}

.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
  animation-delay: .45s;
}

.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .50s;
  animation-delay: .50s;
}

.overlay .nav {
  position: relative;
  height: 70vh;
  top: 50vh;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 50px;
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  text-align: center;
  z-index: 900000;
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
  z-index: 900000;
}

.overlay ul li {
  color: white;
  display: block;
  height: 25vh;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
  z-index: 900000;
}

.overlay ul li a {
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
  z-index: 900000;
}

.overlay ul li a:hover:after,
.overlay ul li a:focus:after,
.overlay ul li a:active:after {
  width: 100%;
}

.overlay ul li a:after {
  color: white;
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  -webkit-transition: .35s;
  transition: .35s;
}

@-webkit-keyframes fadeInTop {
  0% {
    opacity: 0;
    bottom: 20vh;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    bottom: 20vh;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}

.site {
  margin: 0;
  padding: 0;
}

html.active {
 overflow:hidden;
}

.home {
  position: fixed;
  width: 100%;
  height: 600px;
  background-image: url("../images/jellycookies.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.home #logo {
  text-align: center;
  margin-top: 100px;
  font: 100px 'Pacifico';
  color: white;
}

.footer {
  position: relative;
  width: 100%;
  height: 900px;
  background: white;
  z-index: 1;
  top: 600px;
}

body.active {
    overflow: hidden;
}

.search {
	width: 500px;
	height: 40px;
	margin: 100px auto;
	background: #444;
	background: rgba(0,0,0,.2);
	border-radius: 3px;
	border: 1px solid #fff;
}

.search input {
	width: 370px;
	padding: 12.5px 25px 14px 15px;
	float: left;
	color: black;
	border: 0;
	background: white;
	border-radius: 3px 0 0 3px;
}

.search input:focus {
	outline: 0;
	background: white;
}

.search button {
	position: relative;
	float: right;
	border: 0;
	padding: 0;
	margin-right: 10px;
	cursor: pointer;
	height: 40px;
	width: 120px;
	color: #fff;
	background: transparent;
	border-left: 1px solid #fff;
	border-radius: 0 3px 3px 0;
}   

.search button:hover {
	background: transparent;
	color: #ccc;
}

.search button:active {
	box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);
}

.search button:focus {
	outline: 0;
}


/* end landing page */


.index{
	background-image: url('../images/restaurant.jpg');
}
.topcontent {
	/*background-image: url('restaurant.jpg');*/
	background-size: cover;
	flex: 1 0 auto;
	margin-bottom: 15px;

}

nav ul li a {
	color: black;
}

.parallax-container {
	height: 600px;
}


/*Search bar resize and movement*/
#searchbar{
	z-index:0;
	position:relative;
	margin-bottom: 10px;
	left: 150%;
	width: 200%;
/*	display:inline-block;*/
	/*margin-top: 200px;
	margin-left:250px;
	width: 500px;
	display:inline-block;
	margin-right: 15px;*/
}

.search-button{
	display: block;
	margin: auto;
	width: 100%; 
	margin-top: 12px;
	margin-bottom: 5px;
}

.directory-button {
	display: inline-block;
	margin: auto;
	width: 100%;
}

.landing-text {
	color:white;
	/*text-align: center;*/
	font-size: 1.5em;
	z-index: 0;
	position: relative;
	left: 8%;
	margin-top: 450px;
}
.button {
	background-color:#e57373;
	color: white;
	/*	height:60px;*/
}

/*.directory-button {
	opacity: 0;
}*/

#abouttext {
	font-size:24px;
}
.pictureCard{
	/*width: 350px;
	display:inline-block;*/
	/*margin-right: 15px;*/
}
.descriptionCard{
	width: 700px;
	display:inline-block;
}

#email{
	color:white;
	margin-right:50px;
}

.cardsTitle {
	color: #ffab91;
	font-family: sans-serif;
	font-size: 35px;
	/*font-weight: 10px;*/
}

#bottom {
	margin-bottom: 15px;
}
.toppic{
	z-index:1;
}

.updatebutton {
	margin-bottom: 5px;
}

.selecttime {
	margin-bottom: 15px;
}
#enter {
	margin-bottom:15px;
	margin-left:25px;
}

.formHeader {
	display: inline-block;
}

.formTitle {
	color: #ffab91;
}

.formText {
	color: black;
}

.input-field {
	color: black;
}

/* restaurant name label focus color */
.input-field input[type=text]:focus + label {
	color: #000;
}

/* email label focus color */
.input-field input[type=email]:focus + label {
	color: #000;
}

/* password label focus color */
.input-field input[type=password]:focus + label {
	color: #000;
}

/* restaurant name label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}

/* email label underline focus color */
.input-field input[type=email]:focus {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}

/* password label underline focus color */
.input-field input[type=password]:focus {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}

#alreadyuser {
	margin-bottom: 15px;
	margin-left: 20px;
}

.signuploginmodal{
	margin-bottom: 15px;
	margin-left: 30px;
}
#updateenter {
	margin-bottom:200px;
	margin-left:25px;
}

/*About Page*/
.abouttop h5 {
	text-align:center;
}
.abouttop p {
	font-size: 20px;
}

.displayWaitTime {
	background-image: url('../images/naturebanner.jpg');
	color: white;
}

.waitTimeContent {
	text-align: center;
}

.updateWaitTitle {
	margin-top: 1em;
}

.enterWait {
	margin-top: 15px; 
}

.directoryRestaurants {
	display: inline;
}

.modal {
	max-height: 90%;
}

.modalTop {
	display: inline;
}

.modal-form-row {
	margin-bottom: 0px;
}

.modalTitle {
	color: #ffab91;
}

.modalTop {
	margin-bottom: 15px;
}

.modal-text {
	color: grey;
}

.cardsTitle{
	margin-left:-175px;
}
.firstcard {
	margin-left:-175px;
	/*display:inline;*/
}

.directoryRestaurants img {
	height: 120px;
}

/*.restaurantcard{
	display:inline;
}
*/

.waitTimeRestaurant {
	margin-top: 0px;
	padding-top: 30px;
	margin-bottom: 50px;
}

.timeSinceUpdate {
	padding-top: 10px;
	padding-bottom: 30px;
}

footer.page-footer {
	margin-top: 0px;
}

.loginfailbtn{
	margin-left:20px;
}

.bar-graph{
	margin: auto;
	height: 400px;
	width: 800px;
}

.chart-pages{
	margin: auto;
}

.x-content-band {
border-top: none !important;
}

.x-content-band.bg-image {
	background-position: 50% 0px !important;
}

.searchmodalText {
	margin-top:40px;
}
.searchInput {
	margin-left:10px;
}
/*the below for editing form validation*/

/* label focus color */
/*.input-field input[type=text]:focus + label {
	color: #000;
}*/
/* label underline focus color */
./*input-field input[type=text]:focus {
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 0 0 #000;
}*/